<div class="buffer-both">
  <%= content_tag(:h1, t('hashtags.questions', hashtag: @hashtag.text), class: 'title-medium-white')  %>
  <div class="questions-list buffer-both">
    <%= render @questions %>
  <div>
</div>
