<div class="buffer-both">
  <h1 class="title-medium-white"><%= "#{t('hashtags.questions')}: ##{@hashtag.text}" %></h1>
  <div class="questions-list buffer-both">
    <%= render @questions %>
  <div>
</div>
